
*.xd
PlaneWar/.idea/workspace.xml
PlaneWar/.idea/vcs.xml
PlaneWar/.idea/copilot/chatSessions/xd.lck
PlaneWar/.idea/copilot/chatSessions/00000000000.xd
PlaneWar/.idea/workspace.xml
PlaneWar/.idea/workspace.xml
PlaneWar/.idea/workspace.xml
